/.idea
/Temp
BakeryRuntimeAssembly.csproj
/*.csproj
/UserSettings
/*.sln
/obj
/Logs
/Library
/.vs
/*_BurstDebugInformation_DoNotShip
/Recordings
1.apk
Assets/SceneDependencyCache
~$计划.xlsx
Thirdparty/xLua-2.1.16_release/.vscode
Thirdparty/xLua-asmdef/.vscode
Assets/Python/__pycache__
Assets/Python/__pycache__.meta
Assets/Temp
Assets/~*
Assets/LuaScripts/.vscode
